.anetd-stack {
    display: flex;
}
.anetd-stack--vertical {
    flex-direction: column;
}
.anetd-stack--horizontal {
    flex-direction: row;
    align-items: center;
}
.anetd-stack--wrap {
    flex-wrap: wrap;
}
